### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### Linux ###
!.gitignore
!.git*
*~

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

### Java ###
*.class
*.jar
*.war
*.ear

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
bin

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Eclipse ###
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cprojet
.buildpath

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Application property ###
app/src/main/resources/application-prod.yml
app/src/main/resources/application-dev.yml

### Docker ###
docker/mysql/db
docker/mysql/log
