
### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### Linux ###
!.gitignore
!.git*
*~

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Eclipse ###
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cprojet
.buildpath

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### mkdocs ###
public
